#carcasa {
    display: none;
    position: absolute;
    overflow: hidden;
}


#carrusel {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: 100%;
    background-color: #eceded;
}

    #carrusel li {
        list-style: none;
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        color: #333;
        background-color: #eceded;
        display: none;
    }


#navegacion {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

    #navegacion li {
        list-style: none;
        margin: 0px;
        padding: 0px;
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-color: #96ccc4;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        border: 1px solid #96ccc4;
    }


.numVisto {
    display: block;
    cursor: pointer;
    border: 1px solid #96ccc4;
    background-color: #c8f7f0 !important;
}


.numActivo {
    background-color: #fff !important;
}

table {
    width: 100%;
}

    table tr td {
        font-size: 16px;
        padding: 0px 5px;
    }
