@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
    background-image: url('img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'League Gothic', sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: url('img/fondo2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.caja-text {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 121px;
    margin-left: 60px;
}

.text {
    color: white;
    font-size: 75px;
    font-family: 'League Gothic';
    margin-bottom: 20px;
}

.caja-img {
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    justify-content: center;
}


.img-titulo+.img-titulo {
    margin-top: 90px;

}

.img-titulo {
    font-variant: small-caps;
    color: white;
    font-size: 25px;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    background-size: cover;
    cursor: pointer;
}

.img-1 {
    background-image: url('img/paises.png');
}

.img-2 {
    background-image: url('img/oficinas.png');
}

.img-3 {
    background-image: url('img/aeropuertos.png');
}

.caja-cifras {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cifra {
    color: black;
    font-size: 105px;
    font-family: 'League Gothic';
    -webkit-text-stroke: 2px rgb(216, 164, 72);
    color: transparent;
    margin-left: 100px;
    position: absolute;
}

.cifra + .cifra{
    margin-top: 50px;
}

.cifra-1{
    top: 30px;
}
.cifra-2{
    top: 175px;
}
.cifra-3{
    top: 370px;
}

.js-caja-img,
.cifra {
    display: none;
}